allure-pytest==2.8.40
allure-python-commons==2.8.40
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
common==0.1.2
ddt==1.4.2
distlib==0.3.2
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pypiwin32==223
pytest==6.2.3
pytest-html==3.1.1
pytest-metadata==1.11.0
pywin32==300
redis==2.10.6
requests==2.24.0
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.25.9
virtualenv==20.4.7
xlrd==2.0.1
